<div class="panel panel-default ims-body-container">
    <div class="panel-heading">
        <span class="panel-title ims-panel-title">Comments</span>
    </div>
    <div class="panel-body">
        <div class="bg-info ims-no-record" *ngIf="!isValid">No Record Selected</div>
        <div *ngIf="isValid">
            <div class="ims-comment-container" *ngIf="commentToBeEditted">
                <form #form="ngForm">
                    <textarea [(ngModel)]="commentToBeEditted.Comment" name="Comment" required #comment="ngModel" class="form-control ims-comment-input"></textarea>
                    <div class="text-right ims-comment-control">
                        <button pButton type="button" label="Add" *ngIf="!commentToBeEditted.Id" (click)="create()" [disabled]="!form.form.valid"></button>
                        <button pButton type="button" label="Update" *ngIf="commentToBeEditted.Id" (click)="update()" [disabled]="!form.form.valid"></button>
                        <button pButton type="button" label="Delete" *ngIf="commentToBeEditted.Id" (click)="delete()" [disabled]="!form.form.valid"></button>
                    </div>

                </form>
            </div>

            <p-dataTable [headerRows]="headerRows" [value]="supervisingComments"
                         [rows]="5" [paginator]="true" [resizableColumns]="true"
                         [responsive]="true"
                         selectionMode="single" 
                         (onRowSelect)="onSelected($event.data)"
                         (onRowUnselect)="onUnselected($event.data)"
                         [(selection)]="commentSelected">
                <p-column field="Comment">
                    <template let-row="rowData">
                        <div >
                            <span class="ims-comment-date">{{row.CreatedAt|bracketDateTransform| date :'dd / MM / yyyy'}}</span>
                        </div>
                        <div class="ims-content-display-area">
                            {{row.Comment}}
                        </div>
                    </template>
                </p-column>
            </p-dataTable>

        
         </div>
    </div>
</div>