@model List<IMS.ViewModels.InvitationViewModel>
<table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invitation in Model)
        {
            <tr>
                <td class="text-center">@invitation.Id</td>
                <td class="text-center">@invitation.Email</td>
            </tr>
        }
    </tbody>

</table>
@if (Model.Count() == 0)
{
    <div class="alert alert-info text-center" role="alert">No data</div>
}