@model IMS.ViewModels.RecruitIndexViewModel
@{
    ViewBag.Title = "Index";
}
<div class="search-panel">
    <form id="searchCondition">
        @Html.DropDownList("RecruitStatusTypeIds", Model.RecruitStatusOptions)
    </form>
</div>
<table id="applicant-list" class="display table table-condensed table-hover table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Dum</th>
        </tr>
    </thead>
</table>
<div>
     <button type="button" class="btn btn-default" id="btnSendInvitation">Send Invitation</button>
</div>

<!-- Modal -->
<div class="modal fade" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="modalAlertLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalAlertLabel">Alert</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalConfirmLabel">Confirm</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cfm-yes" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            var dt=$('#applicant-list').DataTable({
                "ajax":{url:"/Recruit/List?RecruitStatusTypeIds=2", dataSrc:""},
                "columns": [
                    { "data": "Id" },
                    { "data": "Email" }
                ],
                "columnDefs": [
                    {
                        "render": function (data, type, row) {
                            return "<button class='btn btn-default'>ok</button>";
                        },
                        "targets": 2
                    }
                ]
               
            });
            
            function reload() {
                dt.ajax.url("/Recruit/List?" + $("#searchCondition").serialize()).load();
            }
      

            $("#RecruitStatusTypeIds").on('change', function () {
                reload();
            });

            $("#btnSendInvitation").click(function () {
                $("#modalConfirm div.modal-body").html("Do you want to proceed?");
                $("#modalConfirm").modal('show');
                var df = $.Deferred();
                $("#modalConfirm button.cfm-yes").off('click');
                $("#modalConfirm button.cfm-yes").one('click',function () {
                    df.resolve();
                });
                df.then(function (){
                    $.post("/Recruit/SendInvitation").then(function (response) {
                        if (response.Error){
                            $("#modalAlert div.modal-body").html(response.Error);
                            $('#modalAlert').modal('show');
                        }
                    });
                });
                
            });
        });
    </script>
  
}