<!DOCTYPE html>
<html>
<body>
    <div>
       <p>Hi,</p>
       <p>Please, visit at the link and follow the instruction to finish the registration procedure. Thanks.</p>
       <p><a href="@Model.Link">@Model.Link</a></p>
       <p>For security, do not share this link with others.</p>   
    </div>
</body>
</html>