@model IMS.ViewModels.InvitationViewModel
<div class="col-md-offset-3 col-md-6 col-xs-12">
    @using (Html.BeginForm("Create", "Recruit", null, FormMethod.Post, new { @class = "form", name = "regForm", id = "regForm" }))
    {
        
        <div class="ims-title-bar">Register Applicant's E-mail</div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default cm-save">Register</button>
        </div>
    }
    <div class="ims-title-bar">Invitation</div>
    <button type="button" class="btn btn-default cm-send-batch">Send All Registred Invitation</button>
</div>
@section Scripts{
    <script>

        $(function () {
            $(".cm-save").on('click', function () {
                $.post("/Recruit/Create", $("#regForm").serializeArray()).then(function (response) {
                    if (response.Error) {
                        Ims.alert(response.Error);
                    }
                    else {
                        Ims.inform("Registred");
                        $("#Email").val("");
                    }
                });
            });
      
            $(".cm-send-batch").click(function () {
                Ims.confirm("Do you want to proceed?");
                Ims.waitObj.then(function () {
                    $.post("/Recruit/SendBatchInvitation").then(function (response) {
                        if (response.Error) {
                            Ims.alert(response.Error);
                        }
                        else {
                            Ims.inform("Completed.");
                        }
                    });
                });
            });

        });


    </script>
    
}