@{
    ViewBag.Title = "Index";
}
<head>
    

   
    <script type="text/javascript" charset="utf-8" src="https://cdn.datatables.net/r/dt/dt-1.10.9/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
</head>

<body>
    <h2>Manage Approvement of all Applications</h2>

    <table id="list" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Programme Name</th>
                <th>Applicant First Name</th>
                <th>Applicant Last Name</th>

                <th>Email</th>
                <th>Mobile</th>
                <th>Visa Status</th>
                <th>Medical Condition</th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
    <script>
        $(document).ready(function () {

            $('#list').dataTable({
                "columnDefs": [{
                    "defaultContent": "-",
                    "targets": "_all"
                }],
                "ajax": 'GetList',
                columns: [
                                { 'data': 'TemplateId' },
                                { 'data': 'Firstname' },
                                { 'data': 'Lastname' },
                                { 'data': 'Email' },
                                { 'data': 'Mobile' },
                                { 'data': 'VisaStatus' },
                                { 'data': 'MedicalCondition' }

                ]
            });


        });

    </script>

</body>

