<div id="ims-template-manage"  [hidden]="handleNotice||handleInvitation">
    <div class="clearfix"></div>
    <!--Quick Search Link-->
    <div class="xs-col-12" id="quick-search-container">
        <p-dataTable [value]="templates" [headerRows]="headerRows"
                     [rows]="10" [paginator]="true" [resizableColumns]="true">
            <header>
                <div class="ims-header-container">
                    <span>Notice</span>
                    <div class="pull-right">
                        <button pButton type="text" (click)="loadNotice()" icon="fa fa-refresh"></button>
                        <button pButton type="text" (click)="newNotice()" icon="fa fa-plus-circle"></button>
                    </div>
                </div>
            </header>
            <p-column field="Name">
                <template let-row="rowData">
                    <div class="text-center">
                        <span>{{row.Name}}</span>
                    </div>
                </template>
            </p-column>
            <p-column>
                <template let-row="rowData">
                    <div class="text-center">
                        <span class="badge ims-link-label" (click)="progressTotal(row)"  [ngClass]="{imsselected: isSelected(row,CODE_ALL)}">T</span>
                        <span>{{row.RecruitStatus.Total}}</span> 
                        <span class="badge ims-link-label" (click)="progressSent(row)" [ngClass]="{imsselected: isSelected(row,CODE_SENT)}">S</span>
                        <span >{{row.RecruitStatus.Sent}}</span> 
                        <span class="badge ims-link-label" (click)="progressReplied(row)" [ngClass]="{imsselected: isSelected(row,CODE_REPLIED)}">R</span>
                        <span >{{row.RecruitStatus.Received}}</span> 
                        <span class="badge ims-link-label" (click)="progressApproved(row)" [ngClass]="{imsselected: isSelected(row,CODE_APPROVED)}">A</span>
                        <span >{{row.RecruitStatus.Approved}}</span>
                    </div>
                </template>
            </p-column>
            <p-column>
                <template let-row="rowData">
                    <div class="text-center">
                        <i class="fa fa-envelope-o" (click)="writeEmail(row)"></i>
                        <i class="fa fa-edit" (click)="editNotice(row)"></i>
                        <i class="fa fa-archive" (click)="deleteNotice(row)"></i>
                    </div>
                </template>
            </p-column>
        </p-dataTable>
    </div>
    <!--Quick Search Link-->
    <!--Invitation Search Result-->
    <router-outlet></router-outlet>
    <!--Invitation Search Result-->
</div>

<!--Modal dialog-like window Section-->
     <div class="col-xs-12 col-sm-8 col-sm-push-2">
        <!--Notice-->
        <inv-notice-editor *ngIf="handleNotice" [notice]="notice"
                           [isCreateMode]="isCreatNotice"
                           (error)="handleError($event)"
                           (canceled)="closeNotice()"
                           (created)="noticeCreated($event)"
                           (updated)="noticeUpdated($event)">
        </inv-notice-editor>

        <!--Write Invitation-->
        <inv-invitation-editor *ngIf="handleInvitation"
                               [notice]="notice"
                               (success)="invitationSuccess($event)"
                               (cancelled)="invitationCancelled()">
        </inv-invitation-editor>
    </div>