@model List<IMS.ViewModels.TemplateListViewModel>
<table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Description</th>
            <th>Active</th>
            <th>Toggle</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var templete in Model)
        {
            <tr>
                <td>@templete.Description</td>
                <td class="text-center">@(templete.IsActive)</td>
                <td class="text-center"><span tmpId="@(templete.Id)" class="glyphicon glyphicon-refresh clickable ims-remove"></span></td>
                <td class="text-center"><span tmpId="@(templete.Id)" class="glyphicon glyphicon-pencil clickable ims-edit"></span></td>
            </tr>
        }
    </tbody>
</table>