@using IMS.Common
@model List<IMS.ViewModels.TemplateListViewModel>
<table class="table table-condensed table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Active</th>
            <th>Toggle Active Status</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var templete in Model)
        {
           <tr class="text-center">
                <td>@(templete.IsActive)</td>
                <td><span tmpId="@(templete.Id)" class="glyphicon glyphicon-refresh clickable ims-remove"></span></td>
                <td><span data-template-type-code="@TemplateTypeCode.Contract" tmpId="@(templete.Id)" class="glyphicon glyphicon-pencil clickable ims-edit"></span></td>
            </tr>
        }
    </tbody>
</table>