@model List<IMS.Models.Template>

<table class="table table-condensed table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody  id="template-list">
        @foreach (var templete in Model)
        {
            <tr tmpId="@(templete.Id)">
                <td>@templete.Name</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("New", "NewEmail", null,new{@class="btn btn-default"})



@section Scripts
{
    <script>
        jQuery(function () {
            $("#template-list tr").click(function () {
                location.href = "/TemplateManage/EditEmail?id="+$(this).attr("tmpId");
            });
        });
    </script>

}


