@model List<IMS.Models.Template>

<table class="table table-condensed table-striped">
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var templete in Model)
        {
            <tr>
                <td tmpId="@(templete.Id)">@templete.Name</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("New", "NewEmail", null,new{@class="btn btn-default"})



@section Scripts
{
    <script>
        jQuery(function () {
           
        });
    </script>

}


