<div id="template-list">
@{Html.RenderAction("List");}
</div>

@Html.ActionLink("New", "New", null,new{@class="btn btn-default"})



@section Scripts
{
    <script>
        jQuery(function () {
            $("#template-list").on('click','*.ims-edit', function () {
                location.href = "/TemplateManage/Edit?id=" + $(this).attr("tmpId");
            });

            $("#template-list").on('click','*.ims-remove', function () {
                if (!confirm('Do you want to continue?')) return;
                $.post("/TemplateManage/ToggleIsActive?id=" + $(this).attr('tmpId')).then(function () {
                    $("#template-list").load("/TemplateManage/List");
                });
            });
        });
    </script>

}


