<div class="ims-title-bar">Templates</div>
<div id="template-list">
@{Html.RenderAction("List");}
</div>
<div id="tmpl-edit"></div>
<div id="ims-section-smtp-config">
    <div class="ims-title-bar">
        <span style="vertical-align:middle">Stmp</span>
        <button type="button" style="float:right;" class="ims-hide-read cm-save btn btn-default btn-sm">Save</button>
        <button type="button" style="float:right;" class="ims-hide-read cm-cancel btn btn-default btn-sm">Cancel</button>
        <button type="button" style="float:right;" class="ims-hide-edit cm-edit btn btn-default btn-sm">Edit</button>
        <div class="clearfix"></div>
    </div>
    <div class="ims-hide-read">
        <form>
            <textarea class="form-control" id="Config" style="height:20em"></textarea>
        </form>
    </div>
</div>


@section Scripts
{
    <script>
        jQuery(function () {
            $("#template-list").on('click','*.ims-edit', function () {
                $("#tmpl-edit").load("/TemplateManage/Edit?id=" + $(this).attr("tmpId"));
            });

            $("#template-list").on('click','*.ims-remove', function () {
                $.post("/TemplateManage/ToggleIsActive?id=" + $(this).attr('tmpId')).then(function () {
                    $("#template-list").load("/TemplateManage/List");
                });
            });

            $("#tmpl-edit").on('click', '#btnSave', function () {
                var $form=$("#tmpl-edit form");
                $.post($form.attr("action"), $form.serializeArray())
                .then(function (response) {
                    $("#tmpl-edit").html("");
                })
                .fail(function (response) {
                    $("#tmpl-edit").html(response.responseText);
                });
            });

            $("#tmpl-edit").on('click', '#btnCancel', function () {
                    $("#tmpl-edit").html("");
            });

            var $smtpSection = $("#ims-section-smtp-config");
            $smtpSection.on('click',".cm-edit", function () {
                $smtpSection.addClass("ims-editting");
                //$.get("/Configuration/Smtp").then(function (response) {
                //    if (response.Error) {
                //        Ims.alert(Response.Error);
                //    }
                //    else {
                //        $section.addClass("ims-editting");
                //        $("#Config").val(response.Config);
                //    }
                //});
            });

            $smtpSection.on('click', ".cm-cancel", function () {
                $smtpSection.removeClass("ims-editting");
            });

            $smtpSection.on('click', ".cm-save", function () {
                $smtpSection.removeClass("ims-editting");
            });

        });
    </script>

}


