
@{
    ViewBag.Title = "Index";
}

<span>@Html.ActionLink("Email", "Email", null, new {@class="btn btn-default"})</span>
<span>@Html.ActionLink("Contract", "Contract", null, new { @class = "btn btn-default" })</span>


@section Scripts    
{
    <script>
        jQuery(function () {
            
        });
    </script>
    
}