<div id="template-list">
@{Html.RenderAction("List");}
</div>
<div id="tmpl-edit"></div>
@section Scripts
{
    <script>
        jQuery(function () {
            $("#template-list").on('click','*.ims-edit', function () {
                $("#tmpl-edit").load("/TemplateManage/Edit?id=" + $(this).attr("tmpId"));
            });

            $("#template-list").on('click','*.ims-remove', function () {
                if (!confirm('Do you want to continue?')) return;
                $.post("/TemplateManage/ToggleIsActive?id=" + $(this).attr('tmpId')).then(function () {
                    $("#template-list").load("/TemplateManage/List");
                });
            });

            $("#tmpl-edit").on('click', '#btnSave', function () {
                var $form=$("#tmpl-edit form");
                $.post($form.attr("action"), $form.serializeArray())
                .then(function (response) {
                    $("#tmpl-edit").html("");
                })
                .fail(function (response) {
                    $("#tmpl-edit").html(response.responseText);
                });
            });

            $("#tmpl-edit").on('click', '#btnCancel', function () {
                    $("#tmpl-edit").html("");
            });
        });
    </script>

}


