
@{
    ViewBag.Title = "AddApplicant";
}

<h2>Your intership applicantion is successfully submited. Please wait for approvement from admin. After approved, your account details will be sent to your email.</h2>

